@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;600;800&family=Roboto:wght@400;500;700;900&display=swap');
$primaryColor: #312747;
$secondColor: #FF0084;
$tertiaryColor: #2F8DD7;
$primaryFont: Montserrat;
$secondFont: Roboto;