<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-more-register" style="background-image: url('../../../assets/images/banner/bg_authentication.png');">
            </div>
            <form class="login100-form-register validate-form">
                <span class="login100-form-title p-b-43">
                         Criar conta
                    </span>
                <p class="mt-2 mb-4">Para criar uma conta, preencha os campos abaixo.</p>
                <div class="row">
                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <input class="input100" type="password" name="pass">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Digite seu nome completo:</span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <input class="input100" type="password" name="pass">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Digite seu endereço de e-mail:</span>
                    </div>
                    <div class="col mr-3">
                        <div class="wrap-input100 validate-input" data-validate="Password is required">
                            <input class="input100" type="password" name="pass">
                            <span class="focus-input100"></span>
                            <span class="label-input100">Digite sua senha aqui:</span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="wrap-input100 validate-input" data-validate="Password is required">
                            <input class="input100" type="password" name="pass">
                            <span class="focus-input100"></span>
                            <span class="label-input100">Confirmar sua senha aqui:</span>
                        </div>
                    </div>
                </div>

                <div class="container-login100-form-btn">
                    <button class="btn-form login100-form-btn">
                              Cadastrar-se
                         </button>
                </div>

                <div class="mt-4 login100-form-social flex-c-m text-center">
                    Já é cadastrado?
                    <a [routerLink]="['../login']">
                              Fazer Login
                         </a>

                    <a href="#" class="login100-form-social-item flex-c-m bg2 m-r-5">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
<!--Nome-->
<!--E-mail-->
<!--Senha-->
<!--Confirmar Senha-->
<!-- Você já decidiu qual curso pretende fazer?
     - Sim, já escolhi
     - Estou na dúvida
     - Ainda não
-->