<!--Header-->
<div>
    <header>
        <a href="#" class="logo">Eliza</a>
        <!--<nav> 
            <ul>
                <li><a href="#">Home</a></li>
            </ul>
        </nav>-->
    </header>
    <!--/Header-->
    <section>
        <img src="../../assets/images/banner/bg_banner.png" class="wave">
        <div class="content-box">
            <h2>Teste vocacional</h2>
            <p>
                A Eliza é a assistente virtual que vai te ajudar a escolher, através de um teste vocacional, o curso de graduação mais aderente e compatível a sua personalidade e habilidades.
            </p>
            <p>
                Vamos começar? Clique no botão abaixo.
            </p>
            <a [routerLink]="['authentication/login']" class="registrer">Começar</a>
            <!--<a href="#" class="sign-in">Fazer login</a>-->
        </div>
        <div class="img-box">
            <img src="../../assets/images/banner/principal_banner.png" alt="">
        </div>
    </section>
</div>